// Цвета
$basic-white: #ffffff;
$basic-grey: #f2f2f2;
$basic-text-color: #444444;
$basic-text-color-2: #222222;
$basic-black: #000000;
$accent-color: #68b738;
$text-grey: #111111;

// Шрифты
$primary-font: "Oswald", sans-serif;
$secondary-font: "Lato", sans-serif;

// Viewports

$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
