.card__link-title {
  font-family: $primary-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $basic-text-color-2;
}

@media (min-width: $tablet-width) {
  .card__link-title {
    font-size: 20px;
    line-height: 24px;
  }
}

.card__title--plus {
  font-family: $primary-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $text-grey;
}

@media (min-width: $tablet-width) {
  .card__title--plus {
    font-size: 20px;
    line-height: 24px;
  }
}

.card__item {
  font-size: 12px;
  line-height: 16px;
  color: $basic-text-color;
}

@media (min-width: $tablet-width) {
  .card__item {
    font-size: 16px;
    line-height: 20px;
  }
}

.card__button {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $basic-white;
}

.card__description {
  font-size: 12px;
  line-height: 16px;
  color: $basic-text-color;
}

@media (min-width: $tablet-width) {
  .card__description {
    font-size: 16px;
    line-height: 18px;
  }
}

.card--add {
  background-image: url("../../icons/stack.svg#icon-plus");
  background-repeat: no-repeat;
  background-size: 30px 30px;
}

.button--accent {
  color: $basic-text-color;
}
