.contacts__wrapper {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: $tablet-width) {
  .contacts__wrapper {
    justify-content: space-between;
    padding: 60px 70px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__wrapper {
    padding: 60px 78px 60px 80px;
    background-color: $basic-white;
  }
}

.contacts__lead {
  font-family: $primary-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $text-grey;
}

@media (min-width: $tablet-width) {
  .contacts__lead {
    font-size: 20px;
    line-height: 26px;
  }
}

.contacts__address {
  line-height: 20px;
  color: $basic-text-color;
}

@media (min-width: $tablet-width) {
  .contacts__address {
    font-size: 16px;
  }
}
