.functional {
  margin-bottom: 49px;
}

@media (min-width: $tablet-width) {
  .functional {
    margin-bottom: 92px;
  }
}

@media (min-width: $desktop-width) {
  .functional {
    margin-bottom: 69px;
  }
}

.functional__title {
  font-family: $primary-font;
  font-size: 36px;
  line-height: 40px;
  color: $basic-black;
}

@media (min-width: $tablet-width) {
  .functional__title {
    font-size: 60px;
    line-height: 60px;
  }
}

.functional__list {
  padding: 0;
}

@media (min-width: $tablet-width) {
  .functional__list {
    display: flex;
    flex-wrap: wrap;
    gap: 179px;
    margin-bottom: 149px;
  }
}

@media (min-width: $desktop-width) {
  .functional__list {
    gap: 94px;
    margin-bottom: 126px;
  }
}

.functional__item::before {
  content: "";
  background-color: $accent-color;
  background-position: 50%;
  background-repeat: no-repeat;
  flex-shrink: 0;
  width: 60px;
  height: 60px;
  display: block;
}

.functional__item--nutrient::before {
  background-image: url("../../icons/stack.svg#icon-leaf");
  background-size: 30px 32px;
}

.functional__item--powder::before {
  background-image: url("../../icons/stack.svg#icon-powder");
  background-size: 26px 28.5px;
}

.functional__item--diet::before {
  background-image: url("../../icons/stack.svg#icon_eat");
  background-size: 25px 30px;
}

.functional__item--result::before {
  background-image: url("../../icons/stack.svg#icon-result");
  background-size: 26px 31px;
}

@media (min-width: $tablet-width) {
  .functional__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (min-width: $tablet-width) {
  .functional__number {
    position: absolute;
    margin-left: 118px;
    margin-top: -40px;
    margin-bottom: 37px;
  }
}

.functional__description {
  color: $basic-text-color;
  z-index: 2;
}

@media (min-width: $tablet-width) {
  .functional__description {
    font-size: 16px;
    line-height: 24px;
  }
}

.functional__number {
  font-family: $primary-font;
  font-size: 280px;
  line-height: 280px;
  color: $basic-grey;
}

@media (max-width: $tablet-width) {
  .functional__number {
    display: none;
  }
}
