.main-header {
  color: $basic-black;
}

@media (min-width: $desktop-width) {
  .main-header--index {
    position: relative;
  }

  .main-header--index::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 50%;
    z-index: -1;
    height: 694px;
    background-image: linear-gradient(rgba(104, 183, 56, 0.85) 50%, rgba(104, 183, 56, 0.85) 50%), url("../../images/index-background-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-color: rgba(104, 183, 56, 0.85);
    background-size: cover;
  }
}

@media (min-width: $desktop-width) and (min-resolution: 2dppx) {
  .main-header--index::before {
    background-image: linear-gradient(rgba(104, 183, 56, 0.85) 50%, rgba(104, 183, 56, 0.85) 50%), url("../../images/index-background-desktop@2x.png");
  }
}

.main-header--catalog {
  box-shadow: 0 1px 0 #d9d9d9;
}

@media (min-width: $tablet-width) {
  .main-header--catalog {
    box-shadow: none;
  }
}

@media (min-width: $tablet-width) {
  .main-header__container {
    width: 92%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
  }
}

@media (min-width: $desktop-width) {
  .main-header__container {
    width: 100%;
    padding-top: 55px;
  }
}

.main-header__logo {
  display: flex;
  height: 65px;
  text-decoration: none;
  align-items: center;
}

.main-header__logo:hover {
  opacity: 0.8;
}

.main-header__logo:active {
  opacity: 0.6;
}


@media (min-width: $tablet-width) {
  .main-header__logo {
    height: 50px;
  }
}

@media (min-width: $desktop-width) {
  .main-header__logo {
    height: 59px;
  }
}

.main-header__logo img {
  width: 33px;
  height: 38px;
}

@media (min-width: $tablet-width) {
  .main-header__logo img {
    width: 60px;
    height: 50px;
  }
}

@media (min-width: $desktop-width) {
  .main-header__logo img {
    width: 70px;
    height: 59px;
  }
}

.main-header__logo::after {
  content: "";
  display: inline-block;
  width: 101px;
  height: 18px;
  background-image: url("../../icons/stack.svg#logo-text");
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 56px;
}

@media (min-width: $tablet-width) {
  .main-header__logo::after {
    margin-left: 13px;
  }
}

@media (min-width: $desktop-width) {
  .main-header__logo::after {
    width: 118px;
    height: 21px;
    background-image: url("../../icons/stack.svg#logo-text-desktop");
    margin-left: 14px;
  }
}
