.main-nav__logo::after {
  content: "";
  display: inline-block;
  width: 101px;
  height: 18px;
  background-image: url("../../icons/stack.svg#logo-text");
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 56px;
}

.main-nav__toggle {
  background-color: $basic-white;
  background-image: url("../../icons/stack.svg#menu-burger");
  background-repeat: no-repeat;
  background-size: 24px 24px;
  border: none;
  width: 24px;
  height: 24px;
}

.main-nav__toggle--close {
  background-image: url("../../icons/stack.svg#close-mobile-menu");
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__list a {
  color: $basic-black;
}

.main-nav {
  width: 279px;
}

@media (min-width: $tablet-width) {
  .main-nav {
    display: flex;
    justify-content: space-between;
    width: 704px;
    margin: 0 auto;
  }

  .main-nav__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    width: 1220px;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__logo {
    width: 174px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__logo {
    width: 202px;
  }
}

@media (min-width: $tablet-width) {
  .site-list {
    width: 436px;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    width: 475px;
  }
}

