.main-nav__logo::after {
  content: "";
  display: inline-block;
  width: 101px;
  height: 18px;
  background-image: url("../../icons/stack.svg#logo-text");
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 56px;
}

.main-nav__toggle {
  background-color: $basic-white;
  background-image: url("../../icons/stack.svg#menu-burger");
  background-repeat: no-repeat;
  background-size: 24px 24px;
  border: none;
  width: 24px;
  height: 24px;
}

.main-nav__toggle--close {
  background-image: url("../../icons/stack.svg#close-mobile-menu");
}

